
html {	
	background: url("road.jpg") no-repeat ;
	background-size: cover;
}


body {
	background: url("road.jpg") no-repeat ;
	background-size: cover;
	text-align: center;
	color: black;
	font-family: helvetica;
}

h1 {size: 100px;}
li {
	padding: 10px;
	margin: 0 auto;
	color: white;
	font-weight: bold;
	font-size: 30px;
list-style-type: none;
}
p{
	font-size: 30px;
	font-family: calibri;
	position: left;
}
img{
	border: 7px solid white;
}
a {
	color: white;
	font-size: 15px;
}
button{
	background: #00bcd4;
}
}
h2{
	font-weight: normal;
}

.go{
	text-align: center;
	padding-left: 20px;
}

blockquote{
	color:darkgrey;
	font-weight:200px;
	size: 1300px;
	text-shadow: 1px 1px 1px #000, 3px 3px 5px blue;
	font-family: helvetica; } 

footer{
	position: fixed;
	bottom: 10px;
}

.social{
	margin-right: 10px;
}

.img-circle{
	width:300px;
	height:300px;
}

.btn{
	width: 100px;
	height: 50px;
	font-size: 15px;
}
.shimmer{text-shadow: #EEEE00 0 0 10px, #FF0000 5px 5px 5px;}

.texteffect{font:white;}

.pad{padding:10px 10px 10px 10px;}